/* PANEL LAYERS */
.leaflet-panel-layers .leaflet-panel-layers-list {
	display: block;
}
.leaflet-panel-layers.expanded .leaflet-panel-layers-list {
	display: block;
	overflow: auto;
}
.leaflet-top.leaflet-right .leaflet-panel-layers:not(.compact) {
	margin: 0;
}
.leaflet-panel-layers {
	width: 30px;
	min-width: 30px;
    border-radius: 5px;
	overflow: visible;

}
.leaflet-panel-layers.expanded {
	width: auto;
	overflow: visible;
	display: grid;
	/*overflow-x: visible;*/
	/*overflow-y: auto;*/
}

/*.hidden:not(.leaflet-panel-layers-title){*/
/*    display:none !important;*/
/*}*/
.leaflet-panel-layers.minimized .leaflet-panel-layers-separator,
.leaflet-panel-layers.minimized .leaflet-panel-layers-base,
.leaflet-panel-layers.minimized .leaflet-panel-layers-overlays {
    display: none;
}




.leaflet-panel-layers.colapsed {
	width: auto;
	overflow-x: visible; /**/
	overflow-y: auto;
}


.leaflet-panel-layers.expanded .leaflet-panel-layers-list {
	display: block;
}
.leaflet-panel-layers:not(.expanded) .leaflet-panel-layers-title > span,
.leaflet-panel-layers:not(.expanded) .leaflet-panel-layers-selector,
.leaflet-panel-layers:not(.expanded) .leaflet-panel-layers-tooltip,
.leaflet-panel-layers:not(.expanded) .leaflet-panel-layers-grouplabel {
	display: none;
}
.leaflet-panel-layers-separator {
	clear: both;
}

.leaflet-panel-layers-item .leaflet-panel-layers-title {
	display: block;
	white-space: nowrap;
    margin-bottom: 0px;
	float: none;
	cursor: pointer;
}
.leaflet-panel-layers-group .leaflet-panel-layers-title {
	display: block;
	white-space: nowrap;
	float: none;
    margin-bottom: 0px;

	cursor: pointer;
}

.leaflet-panel-layers-title .leaflet-panel-layers-selector {
	float: right;
}

.leaflet-panel-layers-group {
	position: relative;
	width: auto;
	height: auto;
	clear: both;
	overflow: visible;
}
.leaflet-panel-layers-icon {
	text-align: center;
	float: left;
	padding-right: 25px;/*adding padding here creates some space between the icon and the label*/
}

.leaflet-panel-layers-group.collapsible:not(.expanded) {
	height: 24px;

}
.leaflet-panel-layers-group.collapsible:not(.expanded) .leaflet-panel-layers-grouplabel {
	height: 20px;
	overflow: hidden;
}

.leaflet-panel-layers-group.collapsible:not(.expanded) .leaflet-panel-layers-item {
	display: none;
}
.leaflet-panel-layers-group.collapsible .leaflet-panel-layers-icon:first-child {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.leaflet-panel-layers-item {
	display: block;
	height: auto;
	clear: both;
	white-space: nowrap;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
	width: auto;
	display: block;
	overflow: auto;
	/*margin-bottom: 4px;*/
	padding: 2px;
	background: #fff;
	border: 1px solid rgba(0,0,0,0.3);
	border-radius: 4px;

}

.leaflet-panel-layers-base .leaflet-panel-layers-selector {
        margin: 0px;

	float: left;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-selector {
        margin: 0px;

	float: left;
}
.leaflet-panel-layers.expanded .leaflet-panel-layers-overlays input {
	display: block;
}
.leaflet-control-layers-selector {
    margin: 0px;
	float: left;
}


/* theming style */

.leaflet-panel-layers {
	padding: 4px;
	background: rgba(255,255,255,0.5);
	box-shadow: -2px 0 8px rgba(0,0,0,0.3);
}
.leaflet-panel-layers.expanded {
	padding: 4px;
}
.leaflet-panel-layers-selector {
	position: relative;
	top: 1px;
	/*margin-top: 2px;*/
}
.leaflet-panel-layers-separator {
	height: 8px;
	margin: 12px 4px 0 4px;
	border-top:1px solid rgba(0,0,0,0.3);
}
.leaflet-panel-layers-item {
	min-height: 20px;
	display: flex; /*makes tooltips on siame line*/
}
.leaflet-panel-layers-margin {
	height: 25px;
}
.leaflet-panel-layers-icon {
	line-height: 20px;
	display: inline-block;
	height: 20px;
	width: 20px;
	background: #fff;
}


.leaflet-panel-layers.collapsible .leaflet-panel-layers-icon:first-child,
.leaflet-panel-layers-group.collapsible .leaflet-panel-layers-icon:first-child {
	min-width: 20px;
	font-size: 16px;
	text-align: center;
	background: none;
}
.leaflet-panel-layers-group {
	padding: 2px 4px;
	margin-bottom: 4px;
	border: 1px solid rgba(0,0,0,0.3);
	background: rgba(255,255,255,0.6);
	border-radius: 3px;
}
.leaflet-panel-layers-overlays .leaflet-panel-layers-item:hover {
	border: 1px solid #888;
	cursor: pointer;
}

/*!* Tooltip container *!*/
/*.leaflet-panel-layers-tooltip {*/
/*	position: relative;*/
/*	display: inline-block;*/
/*	border-bottom: 1px dotted black; !* If you want dots under the hoverable text *!*/
/*	text-align: left;*/
/*}*/

/*!* Tooltip text *!*/
/*.leaflet-panel-layers-tooltip .leaflet-panel-layers-tooltiptext {*/
/*	visibility: hidden;*/
/*	width: 300px;*/
/*	display: inline-block;*/
/*	!*overflow: scroll;*!*/
/*	max-height: none;*/
/*	z-index: 1;*/
/*	!*width: auto;*!*/
/*	background-color: #555;*/
/*	color: #fff;*/
/*	text-align: center;*/
/*	padding: 5px 0;*/
/*	border-radius: 6px;*/

/*	opacity: 0;*/
/*	transition: opacity 0.3s;*/


/*	!* Position the tooltip text - see examples below! *!*/
/*	position: absolute;*/
/*	top: -5px;*/
/*  	right: 120%;*/
/*	margin-right: 50px;*/
/*	!*width: 240px;*!*/
/*    !*bottom: 100%;*!*/
/*    !*left: 50%;*!*/
/*    !*margin-left: -180px; !* Use half of the width (120/2 = 60), to center the tooltip *!*!*/

/*}*/

/*.leaflet-panel-layers-tooltip .leaflet-panel-layers-tooltiptext::after {*/
/*  !*content: " ";*!*/
/*  !*position: absolute;*!*/
/*  !*top: 100%; !* At the bottom of the tooltip *!*!*/
/*  !*left: 75%;*!*/
/*  !*margin-left: -5px;*!*/
/*  !*border-width: 5px;*!*/
/*  !*border-style: solid;*!*/
/*  !*border-color: #555 transparent transparent transparent;*!*/
/*	z-index: 1;*/

/*	content: " ";*/
/*	position: absolute;*/
/*	top: 50%;*/
/*	left: 100%; !* To the right of the tooltip *!*/
/*	margin-top: -5px;*/
/*	border-width: 5px;*/
/*	border-style: solid;*/
/*	border-color: transparent transparent transparent #555;*/
/*}*/

/*!* Show the tooltip text when you mouse over the tooltip container *!*/
/*.leaflet-panel-layers-tooltip:hover .leaflet-panel-layers-tooltiptext {*/
/*	visibility: visible;*/
/*	opacity: 0.9;*/
/*	transition-delay:0.5s;*/
/*	!*overflow: visible;*!*/

/*}*/




.leaflet-panel-layers-tooltip {
	display:inline-block;
	position:relative;
	border-bottom:1px dotted #666;
	text-align:left;
}

.leaflet-panel-layers-info{
	display:inline-block;
	position:relative;
	border-bottom:1px dotted #666;
	text-align:left;
	background: lightcoral;
}
.leaflet-panel-layers-item .block {
	width: -moz-min-content;
	/*overflow: auto;*/

	/*padding:10px 20px;*/
	color:#444444;
	background-color:#EEEEEE;
	font-weight:normal;
	font-size:11px;
	border-radius:5px;
	position:relative;
	z-index:99999999;
	/*border-width: 2px;*/
	border-color: lightgray;
	border-style: solid;
	border-width: 0px;
	box-sizing:border-box;

	/*box-shadow:0 1px 8px rgba(0,0,0,0.5);*/
	/*display:none;*/
	/*position: absolute;*/
	visibility: hidden;
	/*height: 0;*/
	/*height: 0px;*/
    overflow: auto;
	opacity:0;
	max-height: 0px;
	display: flex;

	background: lightcyan;
	/*transition: visibility 0s 1s, opacity 1s ease-in-out;*/
	/*transition: ;*/
	transition: visibility 1s ,max-height 0.5s 0.5s, opacity 0.5s 0.4s ease-in-out, border-width 0.5s 0.5s, padding 0.5s 0.5s;
}



.leaflet-panel-layers-item:hover .block {
	transition: visibility 2s ,max-height 1s 1s, opacity 1s 0.75s ease-in-out, border-width 1s 1s, padding 1s 1s;
	/*height: available;*/
	max-height: 250px;
	padding: 2px 2px;
	visibility:visible;
	border-width: 3px;
	/*margin: 5px 5px;*/
	opacity:1;
	/*overflow: auto;*/
	/*display: flex;*/
	/*transition:opacity 1s ease-in-out;*/
	/*transition: opacity 0.5s ease-in-out;*/


}


.leaflet-panel-layers-tooltip .left {
	min-width:200px;
	/*max-height: ;*/
	top:50%;
	right:100%;
	margin-right:20px;
	transform:translate(0, -20%);
	padding:10px 20px;
	color:#444444;
	background-color:#EEEEEE;
	font-weight:normal;
	font-size:13px;
	border-radius:8px;
	position:absolute;
	z-index:99999999;
	box-sizing:border-box;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
	visibility:hidden;
	opacity:0;
	/*transition:opacity 0.8s;*/
	/*transition-timing-function: ease-in-out;*/
	/*-webkit-transition: opacity 1s ease-in-out;*/
	/*transition: opacity 1s ease-in-out;*/
	overflow-y: unset;
	overflow-x: unset;

 	transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;

}

.leaflet-panel-layers-tooltip:hover .left {
	visibility:visible;
	opacity:1;
	/*transition: opacity 0.5s;*/
	/*transition: ease-out 1s;*/
	/*transition-delay:0.5s;*/

	/*-webkit-transition: opacity 1s ease-in-out;*/
	transition: opacity 0.5s ease-in-out;

}

.leaflet-panel-layers-tooltip .left i {
	position:absolute;
	top:20%;
	left:100%;
	margin-top:-12px;
	width:12px;
	height:24px;
	overflow:hidden;
	z-index:99999998;

}

.leaflet-panel-layers-tooltip .left i::after {
	content:'';
	position:absolute;
	width:12px;
	height:12px;
	left:0;
	top:50%;
	transform:translate(-50%,-50%) rotate(-45deg);



	background-color:#EEEEEE;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);

}


.leaflet-panel-layers-tooltip .right {
	min-width:200px;
	top:50%;
	left:100%;
	margin-left:20px;
	transform:translate(0, -50%);
	padding:10px 20px;
	color:#444444;
	background-color:#EEEEEE;
	font-weight:normal;
	font-size:13px;
	border-radius:8px;
	position:absolute;
	z-index:99999999;
	box-sizing:border-box;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
	visibility:hidden; opacity:0;
	/*transition:opacity 0.8s;*/
	overflow-y: unset;
	overflow-x: unset;

	transition: visibility 0s 0.5s, opacity 0.5s ease-in-out;
}

.leaflet-panel-layers-tooltip:hover .right {
	visibility:visible; opacity:1;

	transition: opacity 0.5s ease-in-out;

}

.leaflet-panel-layers-tooltip .right i {
	position:absolute;
	top:50%;
	right:100%;
	margin-top:-12px;
	width:12px;
	height:24px;
	overflow:hidden;
}

.leaflet-panel-layers-tooltip .right i::after {
	content:'';
	position:absolute;
	width:12px;
	height:12px;
	left:0;
	top:50%;
	transform:translate(50%,-50%) rotate(-45deg);
	background-color:#EEEEEE;
	box-shadow:0 1px 8px rgba(0,0,0,0.5);
}





